html
    head
        title=name

        link(rel="stylesheet", type="text/css", href="/styles/style.css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    script(src="//code.jquery.com/jquery-1.11.1.js")
    script(src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")

    script(src="/scripts/ua-parser.min.js")


    body
        div#headwayapp

        h1=version
        h2=name

        hr

        h3 All routes:

        ul
            for route in routes
                li=route.methods + " > "
                    a(href=route.path)=route.path

        hr
        hr

        div#connectCounter

        hr

        h3 Browsers:
        div#users

        hr

        h3 Chat:

        div#contentWrap
            div#chatWrap
                div#chat
                form#send-message
                    input#message(size="60", placeholder="Chat")
                    input(type="submit")



        script(src="/scripts/index.js")
        script(src="//cdn.headwayapp.co/widget.js")